baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Chris Beeleys Blog'

[params]
	customCSS = ["css/custom.css"]

[taxonomies]
  tag = "tags"
  category = "categories"

[[menu.main]]
identifier = "blog"
name = "Blog"
url = "/blog/"
weight = 10

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup.goldmark.renderer]
  unsafe = true

