{{ define "main" }}
{{ partial "landing-video.html" . }}
<section class="landing">
  <div class="landing-box">
    <h1 style="color:#fff; font-size:2.7em; font-family:'Share Tech Mono', monospace, Arial, sans-serif; font-weight:900; margin-bottom:0.7em; text-shadow:2px 2px 8px #000; letter-spacing:2px;">Chris Beeleys Blog</h1>
    <h2 style="font-size:2.2em; letter-spacing:2px; color:#ffe81f; text-shadow:2px 2px 8px #000; margin-bottom:1em;">A long time ago in a galaxy far,<br> far away....</h2>
    <div style="background:rgba(0,0,0,0.85); color:#ffe81f; border:2px solid #00bfff; border-radius:12px; padding:1.5em 2em; margin:2em auto 0 auto; max-width:600px; font-size:1.15em; text-shadow:1px 1px 6px #000;">
      It is a time of hope. Jedi Chris, master of Open-Source and data, brings light to the galaxy of analytics. With wisdom and skill in R, Python, and the Force of knowledge, he helps others find insight and clarity. As the Jedi Archives grow, Chris’s blog becomes a beacon for those who seek to use data for good and bring balance to the world of statistics...
    </div>
  </div>
</section>
{{ end }}
