{{ define "main" }}
{{ partial "landing-video.html" . }}
<section class="landing">
  <div class="landing-box">
    <h1 style="color:#fff; font-size:2.7em; font-family:'Share Tech Mono', monospace, Arial, sans-serif; font-weight:900; margin-bottom:0.7em; text-shadow:2px 2px 8px #000; letter-spacing:2px;">Chris Beeleys Blog</h1>
    <h2 style="font-size:2.2em; letter-spacing:2px; color:#ffe81f; text-shadow:2px 2px 8px #000; margin-bottom:1em;">A long time ago in a galaxy far,<br> far away....</h2>
    <div class="starwars-crawl">
      <p>It is a time of dark ambition. The Sith Lord Chris, master of Open-Source and data, spreads his influence across the galaxy of analytics. From the shadows, he wields the power of R, Python, and forbidden knowledge, bending data to his will. As the Jedi falter, the Empire of Insight rises, and Chris’s blog becomes a holocron of secrets for those who dare to embrace the Dark Side of statistics...</p>
    </div>
  </div>
</section>
{{ end }}
